@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary: #578cf5;
    --primary-ligth: #6ca8fc;
    --secondary: #094395;
}


body{
    font-family: 'Raleway', sans-serif;
    background-image: url('/assets/img/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100dvh;
    text-decoration: none;
}

/*nav bar*/

        header {
            background-color: #19253b59;
        }

        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            max-width: 100%;
            margin: auto;
            padding: 1.2rem 0rem;
        }
        #menu{
            display: none;
        }
        .menu_icon{
            width: 25px;
            display: none;
        
        }
        .menu_container label{
            cursor: pointer;
            display: none;
        }

        .logo {
            font-size: 1.3rem;
            font-weight: 800;

        }
        .logo img{
            width: 200px;
        }

        .logo a {
            color: #fff;
            text-decoration: none;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            padding: 0;
            background-color: transparent;
            overflow: hidden;
        }

        li {
            padding: 0rem 1.1rem;
            float: left;
        }

        li a {
            color: #fff;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 600;
            letter-spacing: .7px;
        }

        li a:hover {
            color: var(--primary);
            transition: all .3s ease-in-out
        }

        .button {
            display: flex;
            gap: 1rem;
        }

        .button button {
            font-weight: 500;
            color: #fff;
            border: 1px solid #fff;
            background-color: transparent;
            padding: .5rem 1rem;
            border-radius: 20%;
            cursor: pointer;
        }

        .button button:hover {
            background-color: #fff;
            color: #152939;
            transition: all .3s ease-in-out;
        }

.header_container{
    background-image: linear-gradient(120deg, rgba(134, 178, 253, 0.699) 0%, rgba(27, 42, 85, 0.692) 100%), url("../img/header.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.textos-header{
    height: 500px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textos-header h1{
    font-size: 60px;
}

.textos-header p{
    font-size: 25px;
    margin-bottom: 20px;
}

.btn_contacto{
    color: var(--primary);
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    padding: 5px 10px;
    transition: 0.5s;
    border: 3px solid var(--primary);
}
.btn_contacto:hover{
    border: 3px solid #cbdfff;

}
.blue{
    color: var(--primary);
}


.svg-hero{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Estilos generales */

.contenedor,
.wave-contenedor{
    width: 100%;
    background: #fff;
    overflow: hidden;
    margin: auto;
    padding: 50px 100px 80px 0;
    text-align: right;
    font-weight: 500;
}
.contenedor{
    padding: 0;
}
.contenedor_nosotros{
    padding: 80px 0;
}
.contenedor_nosotros p{
    text-align: center;
    padding: 50px;
}
.btn_contacto_nosotros{
    position: absolute;
    left: 45%;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    padding: 5px 10px;
    transition: 0.5s;
    border: 3px solid var(--primary);
}
.btn_contacto_nosotros:hover{
    border: 3px solid #cbdfff;
}

.titulo{
    font-weight: 600;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
    color: var(--secondary);
}

.titulo.left{
    text-align: left;
    font-size: 70px;
    font-weight: 800;
    color: var(--secondary);
}

.titulo.right{
    text-align: right;
}

/* Section */

.website{
    display: flex;
    justify-content: space-between;
}

.website img{
    width: 40%;
    margin-left: 50px;
    float: left;
    animation: movimiento 2.5s linear infinite;
}
@keyframes movimiento {
    0% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0);
    }
}

.website .contenedor-textos-main{
    width: 40%;
    padding-top: 100px;
}

.parrafo{
    text-align: justify;
    margin-bottom: 20px;
    color: var(--secondary);
}

.cta{
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(45deg, #b6ddff 0%, #ddecff 99%, #fff 100%);
    padding: 12px 15px;
    border-radius: 8px;
    color: var(--secondary);
}

/* Info */

.info{
    background: #577cf5;
    color: #fff;
}


/* Cards */

.content-cards{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    width: 30%;
    text-align: center;
    height: 500px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
    border-radius: 20px;
}
.card h3{
    color: var(--secondary);
    font-size: 25px;
    padding-bottom: 20px;
}
.card:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}
.card_info{
    position: absolute;
    bottom: 0;
    padding-bottom: 25px;
}

.card img{
    width: 300px;
}

.card p{
    color: var(--primary);
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 10px;
}

/* galeria */

.galeria{
    background: var(--primary-ligth);
}
.galeria h2{
    color: #fff;
    font-size: 70px;
    font-weight: 700;
}
.galeria p{
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}
.svg-hero-2{
    position: relative;
    width: 100%;
}

.galeria-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.galeria-cont>img{
    width: 30%;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
    cursor: pointer;
    overflow: hidden;
    border-radius: 20px;
}

/* info2 */
.contenedor_mision{
    display: flex;
    align-items: center;
    padding: 0px 100px;
}
.contenedor_mision h2{
    color: var(--secondary);
    font-size: 70px;
}

.last-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
}

.last-section img{
    width: 500px;
    padding-top: 80px;
}

.last-section .contenedor-textos-main{
    width: 40%;
    color: #fff;
}


/* footer */

.contenedor_footer{
    width: 100%;
    overflow: hidden;
    margin: auto;
    padding: 50px 220px 80px 220px;
    text-align: right;
    font-weight: 500;
}

footer{
    background: var(--primary);
    color: #fff;
}
footer h2{
    font-weight: 600;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input{
    background: transparent;
    border: 0;
    color: #fff;
    outline: none;
    border: 1px  solid #fff;
    padding: 20px 10px;
}

.input::placeholder{
    color: #fff;
    font-family: 'raleway', 'sans-serif';
}

input[type="text"], 
input[type="email"]{
    display: inline-block;
    width: 49%;
    margin-bottom: 30px;
}

.form textarea{
    width: 100%;
    margin-bottom: 15px;
}

input[type="submit"]{
    width: 120px;
    text-align: center;
    padding: 14px 0;
}

input[type="submit"]:hover{
    cursor: pointer;
    color: rgb(71, 132, 255);
    background: #fff;
}

/*Redes*/

.redes{
    display: flex;
    align-items: center;
    justify-content: center;
}
.redes ul li{
    display: inline-block;
    margin: 0 5px;
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 20px;
}
.redes ul li a{
    display: block;
    padding: 0 10px 0 10px;
    color: #fff;
    line-height: 50px;
    font-size: 25px;
    transition: .2s;
    border-radius: 50%;
}

.redes ul:hover a{
    filter: blur(2px);

}
.redes ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}
.redes ul li .facebook:hover{
    background: #2374E1;
}
.redes ul li .instagram:hover{
    background: #fe0ec2;
}
.redes ul li .twitter:hover{
    background: #1d9bf0;
}
.declaracion_container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}



@media screen and (max-width:700px){
    .menu_container label{
        display: initial;

    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .textos-header h1{
        text-align: center;
        font-size: 50px;
    }
    /* estilos generales */
    .titulo{
        font-size: 35px;
    }

    .titulo.left{
        text-align: center;
        font-size: 50px;
        padding-left: 50px;
    }

    .info p{
        text-align: center;
    }

    /* section */
    .website{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .website img{
        width: 100%;
    }

    .website .contenedor-textos-main{
        width: 100%;
    }
    .parrafo{
        text-align: center;
        margin-bottom: 20px;
    }

    /* Cards */

    .card{
        width: 90%;
        margin-bottom: 20px;
    }
    .card p{
        display: none;
    }
    .card h3{
        padding-bottom: 30px;
    }


    /* galeria */

    .galeria-cont>img{
        width: 48%;
    }

    /* last */

    .last-section img{
        width: 98%;
    }

    .last-section .contenedor-textos-main{
        width: 98%;
        margin-bottom: 20px;
    }
    .titulo,
    .textos-header h1{
        font-size: 30px;
    }
    .header_container .navbar{
        display: none;
    }

    .textos-hero p{
        font-size: 20px;
        text-align: center;
    }

    .card{
        height: 380px;
    }

    .website .contenedor-textos-main{
        margin-bottom: 30px;
    }

    .galeria-cont>img{
        width: 97%;
    }
}